<div class="profile-container">

    <div class="prLeft">
        <img src="https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortWaved&accessoriesType=Blank&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Happy&eyebrowType=Default&mouthType=Default&skinColor=Light" class="img01" alt="avatar" />
        <div>
            <a href="https://github.com/khalisafkari">
                <i><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="github" /></i>
                Github
            </a>

            <a href="https://facebook.com/tkhalis">
                <i>
                    <img 
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/600px-Facebook_f_logo_%282019%29.svg.png" 
                    alt="facebook" />
                </i>
                Facebook
            </a>

            <a href="https://twitter.com/khalisafkari">
                <i>
                    <img 
                    src="https://upload.wikimedia.org/wikipedia/id/thumb/9/9f/Twitter_bird_logo_2012.svg/800px-Twitter_bird_logo_2012.svg.png" 
                    alt="Twitter" />
                </i>
                Twitter
            </a>
        </div>
    </div>

    <div class="prRight">

        <div class="about">
            <h1>Khalis Afkari</h1>
            <h4>Banda Aceh 30 June 1998</h4>
            <p>Ini adalah project mini couse revou 7 June 2023</p>
        </div>

        <p>
            Saya suka menulis coding dalam bahasa Javascript(React Native), Nodejs, dan Java karena kebutuhan pada React Native.
        </p>

        <p style="margin-top: 10px;">
            Mula-mula saya tertarik dalam programing language bermula karena saya kesal dalam bermain game Point Blank karena terlalu sering kalah,
            Makanya sebab itu saya belajar mencari solusi bagaimana saya bisa membunuh musuh tanpa harus ribet (Cheat), 
            namun pada tahun awal-awal saya belajar antara tahun 2014/2015 sangat sulit.
        </p>

        <p style="margin-top: 10px;">
            tapi saya tidak patah semangat, dan masa itu saya menemukan salah 1 orang (Juwendi) bekerja di zepetto, di situlah titik terang saya belajar programing.
            dia banyak mengajarkan saya mulai dari mencari bytecode mengguna cheat-engine untuk di manipulasi, dan merekayasa ulang dalam bahasa c++, membuat injector menggunakan vb6, melakukan bypass pada anti virus.
            dan banyak lagi yang saya pelajari dari beliau. tapi pada awal-awal tahun 2015 akhir saya bosan dengan game Point Blank. 
        </p>

        <p>
            dan mencari sasaran game lain dan pada saat itu saya menemukan game Crazy Shooter dari gemscool, saya dan beberapa kawan saya mendirikan komunitas HackEngine dalam meretas game untuk di jual (Cheat) berdurasi.
            dan pada tahun-tahun itu juga saya membuat aplikasi untuk membaypass wifi.id, karena pada masa-masa itu internet paling cepat di daerah saya hanya wifi.id. namun karena berbayar makanya saya membypassnya.
            mungkin jika kalian mencari di google dengan keyword <a href="https://www.google.com/search?q=khalis+afkari+wifi.id&hl=id&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjzj_Kh-rD_AhXDjGMGHc6mCREQ_AUoAXoECAEQAw&biw=1292&bih=668&dpr=1#imgrc=4hgl9vlRoaOeHM">khalis afkari wifi.id</a> semoga masih ada :D
            atau kalian bisa mencari cheat CrazyShooter di youtube 8 tahun lalu 
        </p>

        <p>
            namun setelah game CrazyShooter tutup kami membubarkan komunitas HackEngine karena sudah tidak tertarik lagi, 
            dan juga beberapa kawan sudah mulai berumah tangga. dan pasa masa itu saya mulai menikmati kembali hidup saya
            yang dulunya saya sering di depan komputer sekarang saya sudah lebih banyak bertemu sama orang-orang di lingkaran saya.
        </p>

        <p>
           maaf saya bercerita panjang lebar, namun itu kisah saya, 
           jika tidak suka membaca kisah saya, maka bisa di abaikan, jika cara 
           saya menulis terbelit-belit, saya hanya bisa mengatakan saya bukan penulis, 
           saya hanya menceritakan kisah saya.
        </p>

        <p>
            Mungkin masih banyak yang bisa di ceritakan, tapi seperti saya juga malas menceritakannya,
            mungki cukup disini saja pengalaman singkat saya.
        </p>

    </div>

</div>
